@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-white font-inter;
    }
}

@layer components {
    .row {
        @apply flex flex-wrap -mx-3;
    }
    .col {
        @apply px-3;
    }
}

@layer utilities {
    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}
